version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: leondemo-postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    networks:
      - leondemo-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - leondemo-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - leondemo-net

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    networks:
      - leondemo-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    networks:
      - leondemo-net
    volumes:
      - ./metrics/config/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    build: './metrics/config/grafana'
    container_name: grafana
    restart: unless-stopped
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    networks:
      - leondemo-net
    volumes:
      - ./grafana_data:/var/lib/grafana

  loki:
    image: grafana/loki:2.9.10
    container_name: loki
    restart: unless-stopped
    command: -config.file=/etc/loki/local-config.yaml
    depends_on:
      - grafana
    ports:
      - "3100:3100"
    volumes:
      - ./metrics/config/loki/loki-config.yml:/etc/loki/local-config.yaml
    networks:
      - leondemo-net

  app1:
    build: .
    container_name: leondemo-app
#    platform: linux/arm64
    environment:
      DB_POSTGRES_URL: jdbc:postgresql://postgres:5432/postgres
      DB_POSTGRES_USERNAME: postgres
      DB_POSTGRES_PASSWORD: postgres
      SCHEDULER_ENABLED: true
      SERVER_PORT: 8081
      KAFKA_SERVER: kafka:29092
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - kafka
    networks:
      - leondemo-net

networks:
  leondemo-net: